<!DOCTYPE html>
<html>
<head>
    <title>Apples For All Ppls</title>
</head>
<body>

    <h1>Time To Grow Our Apple Knowledge-Orchard!</h1>
      <form action="/apples">
        <input type="submit" value="View Apples" />
      </form>
      <form action="/new">
        <input type="submit" value="Plant Apple Seed" />
      </form>

</body>
</html>
