<!DOCTYPE html>
<html>
<head>
    <title>All The Apples</title>
</head>
<body>

    <ul>
        <% @apples.each do |apple| %>
            <li>
                <a href="/apples/<%= apple.id %>">
                    <%= apple.name %>
                </a>
            </li>
        <% end %>
    </ul>

<a href="/">Home</a>
</body>
</html>
