<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Plant an Apple Seed</title>
  </head>
  <body>
    <h1>Plant Your New Apple Seed Here</h1>
    <h3>HELP US GROW OUR KNOWLEDGE-ORCHARD</h3>
    <form action="/apples" method="post">
      <label for="Name">
        <p>Name: <br><input type="text" name="name"></p><br>
      </label>
      <label for="Crunchiness">
        <p>Crunchiness: <br><input type="text" name="crunchiness"></p><br>
      </label>
      <label for="Summary">
        <p>Summary: <br><input type="text" name="summary"></p><br>
      </label>
      <label for="Versatility">
        <p>Versatility: <br><input type="text" name="versatility"></p><br>
      </label>
      <label for="Sweetness">
        <p>Sweetness: <br><input type="text" name="sweetness"></p><br>
      </label>
      <label for="Origin">
        <p>Origin: <br><input type="text" name="origin"></p><br>
      </label>
      <label for="Pie?">
        <p>Pie? <br>
        True: <input type="radio" name="pie?" value="true"><br>
        False: <input type="radio" name="pie?" value="false"></p><br>
      </label>
      <label for="Parentage">
        <p>Parentage: <br><input type="text" name="parentage"></p><br>
      </label>
      <input type="submit" id="Submit" value="Plant your apple tree">
    </form>
  </body>
</html>
